<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <div class="mdl-card__title">
          <h3 class="mdl-card_title-text">Newsletter Uploader</h3>
        </div>
        <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col">
            <%= render partial:  "newsletters/form.html.erb" %>
        </div>
      </div>
    </div>
  </div>
</div>
