<div class="mdl-layout__content">
  <div id="wrapper">
    <div class="mdl-grid">
      <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <div class="mdl-card__title">
          <h3 class="mdl-card__title-text"><%= @newsletter.name %></h3>
        </div>
        <div class="mdl-card mdl-shadow-2dp mdl-cell mdl-cell--12-col">
          <% image_tag(@newsletter.file_url) %>
        </div>
