<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <div class="mdl-card__title">
          <h3 class="mdl-card__title-text"><%= @newsletter.name %></h3>
        </div>
        <div class="mdl-card mdl-shadow-2dp mdl-cell mdl-cell--12-col">
          <%= image_tag(@newsletter.newsletter_url) %>
        </div>
        <% if current_user.admin? %>
          <div class="mdl-card mdl-shadow-2dp mdl-cell mdl-cell--12-col">
          <%= link_to "Edit Newsletter", edit_newsletter_path(@newsletter), class: 'button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' %>
          <%= link_to "Delete Newsletter", @newsletter, method: :delete, class: 'button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' %>
        <% end %>
