<div class="blurb mdl-grid">
  <div class="timestamp mdl-cell mdl-cell--3-col">
    <%= @newsfeed.timestamp %>
  </div>
  <div class="blurb-message mdl-cell mdl-cell--9-col">
    <%= @newsfeed.message %>
  </div>
</div>
