<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Agent Information</h2>
  </div>
  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text">Training Materials</h3>
    </div>
    <div class="training-container">
      <ul class="mdl-list">
        
    </div>
    </div>

  </div>

</div>
