<% title "Who We Are" %>
<div class="page-grid mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
  <div class="about mdl-card__title">
      <h2 class="mdl-card__title-text">Who We Are</h2>
  </div>
    <div class="about-paragraph">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
        <h3 class="mdl-card__title">History</h3>
        <div class="mdl-card__supporting-text">
          Farm and Ranch Healthcare, Inc. began in Texas and became Incorporated
          in 1995. We now serve over 40 states with quality insurance products
          and services. Our independent, licensed agent professionals are ready
          to provide you with information regarding your insurance coverage by
          answering your specific questions so you have peace of mind. We can
          get the information to you no matter how remote you may be!
        </div>
      </div>
        <div class="about-pic mdl-cell mdl-cell--6-col">
        </div>
    </div>
</div>
