<div class="mdl-layout__content">
  <div id="wrapper">
      <div class="mdl-grid">
          <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
            <div class="about mdl-card__title">
                <h2 class="mdl-card__title-text">Who We Are</h2>
            </div>
              <div class="mdl-grid about-paragraph">
                  <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">History</h3>
                  <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text">

                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam volutpat, urna faucibus facilisis cursus, est velit eleifend leo, at pharetra quam velit a sem. Nunc lacinia lacus vulputate, pellentesque nulla quis, molestie massa. Praesent condimentum ullamcorper neque sed bibendum. Mauris dignissim, purus elementum iaculis luctus, metus ligula ornare mi, a tincidunt risus mauris sed neque. Ut tempor feugiat velit et vulputate. Vivamus dictum odio vel dolor sollicitudin pulvinar. Aenean at turpis et elit sollicitudin aliquet eget id velit. Ut molestie justo id quam volutpat efficitur. Phasellus enim libero, blandit vel turpis ut, lacinia pharetra metus. Quisque ultrices ligula ac lacus gravida ullamcorper.


                  </div>
                  <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Our Team</h3>
                  <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text">

                          Sed mattis justo quis lacus consequat ultricies. Nunc neque magna, mattis a augue quis, consectetur lacinia massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur et est maximus, eleifend orci quis, semper mi. Maecenas sed erat sit amet lectus condimentum porttitor. Praesent dignissim mauris ac mauris accumsan molestie. Etiam quis dolor elit. Donec dolor quam, bibendum eu metus nec, mollis cursus velit. Maecenas et justo in nulla luctus fermentum. Nam ac metus mattis risus accumsan vestibulum. Suspendisse fermentum, sem vitae rutrum accumsan, nunc justo lacinia odio, porta pretium libero ipsum non enim. Maecenas at neque odio. Aenean nec ipsum sapien.

                  </div>
                  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col">
                  </div>
                  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col">
                  </div>
                  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col">
                  </div>
                  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
