<% title "Join Our Team" %>
<div class="page-grid mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
    <div class="agents mdl-card__title">
        <h2 class="mdl-card__title-text">Join Our Team</h2>
    </div>
    <h3 class="mdl-card__title">About Our Agents</h2>
    <div class="mdl-card__supporting-text">
      Farm & Ranch Healthcare, Inc. offers a career opportunity with unlimited
      earning potential for persons who are willing to work toward their goals.
      This is accomplished with our proven sales system developed from years of
      experience. <br />
      We offer you the assistance and the opportunity to begin at ground level
      as an Independent Licensed Insurance Agent. Our qualified Home Office
      staff can provide you with the necessary information to begin a rewarding
      industry.
    </div>
    <h3 class="mdl-card__title">Opportunities</h2>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        Our New Agent Orientation training and Home Office Support Staff will
        assist you in reaching your career goals as expeditiously as possible.
        Your partnership with us offers you:
      </div>
      <div class="mdl-cell mdl-cell--6-col">
        <ul class="mdl-list">
          <li class="mdl-list__item">Quality Health and Life Insurance products and services</li>
          <li class="mdl-list__item">Advance Commission Programs</li>
          <li class="mdl-list__item">Production Awards & Recognition</li>
          <li class="mdl-list__item">Classroom & Field Training</li>
          <li class="mdl-list__item">A Proven Sales System</li>
          <li class="mdl-list__item">Home Office Support Staff</li>
        </ul>
        Do not delay! Our agents have the potential to make $1,000.00 in one day!
      </div>
      <div class="agents-pic mdl-cell mdl-cell--6-col">
          <%= image_tag "mountains.jpg" %>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        For more information regarding this tremendous career opportunity, contact
        Marty Hilgendorf, National Marketing Director (800-633-6508 ext. 110) or
        send us an email by clicking on "Join Our Team" below!
      </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
            <button id="oppo" class="agents-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button">Join Our Team</button>
            <div class="animated-dialog-content">
                <div class="animated-dialog-header">
                    <div class="animated-dialog-title">Send us an Email</div>
                    <div class="animated-dialog-close">&times;</div>
                </div>
                <div>
                  <%= render partial: 'message_mailer/new'%>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <button id="active-states"class="agents-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">States Available</button>
            <div class="animated-dialog-content">
                <div class="animated-dialog-header">
                    <div class="animated-dialog-title">States We Work In</div>
                    <div class="animated-dialog-close">&times;</div>
                </div>
                    <div class="map">
                        <%= image_tag "states_covered.gif" %>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <%= link_to "Download Paperwork", asset_path('FullContractPack.pdf'), :target => "_blank", class: "agents-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
            </div>
        </div>
    </div>
</div>
