<div class="mdl-layout__content">
                    <div id="wrapper">
                        <div class="mdl-grid">
                            <div class=" mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
                                <div class="agents mdl-card__title">
                                    <h2 class="mdl-card__title-text">Join Our Team</h2>
                                </div>
                                <h3 class="mdl-card__title">About Our Agents</h2>
                                <div class="mdl-card__supporting-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu tincidunt lectus. Mauris fermentum sollicitudin libero ut mollis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Pellentesque ac nisl at sem finibus euismod. Integer non interdum lorem, sed congue leo. Fusce tempor tristique leo, eu ultrices tellus malesuada non. Nam erat mauris, pretium congue urna tristique, facilisis porta velit.
                                </div>
                                <h3 class="mdl-card__title">Opportunities</h2>
                                <div class="mdl-card__supporting-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu tincidunt lectus. Mauris fermentum sollicitudin libero ut mollis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Pellentesque ac nisl at sem finibus euismod. Integer non interdum lorem, sed congue leo. Fusce tempor tristique leo, eu ultrices tellus malesuada non. Nam erat mauris, pretium congue urna tristique, facilisis porta velit.
                                </div>
                                <h3 class="mdl-card__title">Looking To The Future</h3>
                                <div class="mdl-card__supporting-text">
                                    We've got agents in 44 states across the nation. We're looking to expand to the following states in the near future:
                                    <ul>
                                        <li>State 1</li>
                                        <li>State 2</li>
                                        <li>State 3</li>
                                        <li>State 4</li>
                                    </ul>
                                    If you work in one of these states and would like to join our team, we'd love to hear from you!
                                </div>
                                <div class="mdl-grid">
                                    <div class="mdl-cell mdl-cell--6-col">
                                        <button id="oppo" class="button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button">Career Opportunities</button>
                                        <div class="animated-dialog-content">
                                            <div class="animated-dialog-header">
                                                <div class="animated-dialog-title">Send us an Email</div>
                                                <div class="animated-dialog-close">&times;</div>
                                            </div>
                                            <div>
                                              <%= render partial: 'messages/new'%>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mdl-cell mdl-cell--6-col">
                                        <button id="active-states"class="button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">States Available</button>
                                        <div class="animated-dialog-content">
                                            <div class="animated-dialog-header">
                                                <div class="animated-dialog-title">States We Work In</div>
                                                <div class="animated-dialog-close">&times;</div>
                                                <div class="map">
                                                    Picture of the map goes here
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
