<% title "Preferred Associations" %>
<div class="page-grid mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
  <div class="associations mdl-card__title">
      <h2 class="mdl-card__title-text a-title">Preferred Associations</h2>
  </div>
  <div class="mdl-grid">
  <div class=" companies mdl-cell mdl-cell--5-col">
    <%= image_tag('heartland-logo.png') %>
  </div>
  <div class="mdl-cell mdl-cell--7-col">
    <div class="mdl-card__supporting-text">
      Heartland Alliance of America, is a Not for –Profit association of
      self-employed and small business people Who have joined together to
      dramatically increase their buying power. As a Heartland member you will
      enjoy numerous Health, Travel, Consumer, and Business-Related programs,
      plus a variety of Agriculture-related services designed especially for
      Heartland members. There are many money saving benefits for you and your
      Family to enjoy ... Group Life Insurance, Tele-Medicine, Accident
      coverage, Dental Benefits, Air Ambulance and many more!!!
      <%= link_to "Learn more about Heartland Alliance of America", "http://heartlandamerica.org/", target: '_blank' %><br />
      <%= link_to "Learn More about Red Steagall", "http://www.redsteagall.com/", target: '_blank' %><br />
      <%= link_to "Red Steagall's new show Somewhere West of Wall Street", "http://www.somewherewestofwallstreet.com/", target: '_blank' %>
    </div>
  </div>
</div>
</div>
