<div class="mdl-layout__content">
                    <div id="wrapper">
                        <div class="mdl-grid">
                            <div class="talk mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col mdl-grid">
                                <div class="mdl-card__title">
                                    <h2>Lets Talk</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu tincidunt lectus. Mauris fermentum sollicitudin libero ut mollis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Pellentesque ac nisl at sem finibus euismod.
                                </div>
                                <div class="mdl-cell mdl-cell--6-col">
                                    <div class="title mdl-card__title">
                                        <h2>Social Media</h2>
                                    </div>
                                    <div class="social-media-container">
                                        <%= image_tag("facebook.png", class: "social-icon") %>
                                        <%= image_tag("twitter.png", class: "social-icon") %>
                                        <%= image_tag("linkedin.png", class: "social-icon") %>
                                    </div>
                                    <div class="title contact-info mdl-card__title">
                                        <h2>Contact Info</h2>
                                    </div>
                                    <div class="contact-container">
                                        <p>Farm & Ranch Healthcare, Inc</p>
                                        <p>2901 Riverglen Drive</p>
                                        <p>Fort Worth, TX 76109</p>
                                        <p>(800)633-6508 - Office</p>
                                        <p>(817)244-4473 - Fax</p>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col">
                                    <div class="contact-form">
                                        <div class="mdl-card__title">
                                            <h2>Contact Us</h2>
                                        </div>
                                        <form>
                                            <input type="text" name="name" placeholder="Name" />
                                            <br/>
                                            <input type="text" name="email" placeholder="Email" />
                                            <br/>
                                            <input type="text" name="phone" placeholder="Phone"/>
                                            <br/>
                                            <select name="Insurance" size="5" multiple>
                                                <option value="Short Term Medical">Short Term Medical</option>
                                                <option value="Medicare Supp">Medicare Supplemental Insurance Policy</option>
                                                <option value="Life Insurance">Life Insurance</option>
                                                <option value="Accident">Accident Insurance Policy</option>
                                                <option value="Final Expenses">Life Insurance - Final Expenses Coverage</option>
                                            </select>
                                            <br/>
                                            <textarea name="message" placeholder="Type your message here"></textarea>
                                            <br/>
                                            <input type="submit" name="send" value="Submit" />
                                        </form>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--12-col">
                                    <div class="map">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3357.0877843575927!2d-97.39137868512286!3d32.71029498099219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e0ce19c442cdf%3A0xb56ec790c8d3f6e7!2sFarm+%26+Ranch+Healthcare%2C+Inc!5e0!3m2!1sen!2sus!4v1466617928810" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
           </div>
