<% title "Farm & Ranch Insurance Services" %>
<div class="mdl-layout__content">
  <div id="wrapper">
      <div class="mdl-grid">
          <div class="slider-div mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
              <div class="slider">
                  <ul class="rslides">
                      <li><%= image_tag("brownlupton.jpg") %></li>
                      <li><%= image_tag("leddysboots.jpg") %></li>
                      <li><%= image_tag("sundancesquare.jpg") %></li>
                      <li><%= image_tag("farm4.jpg") %></li>
                  </ul>
              </div>
          </div>
          <div class="welcome-container mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col">
            <div id="welcome-paragraph" class="mdl-card__supporting-text">
                Paragraph welcoming customers and giving them a little bit of info about us.
            </div>
          </div>
          <div class="building-img mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col">
              Building Picture Goes Here
          </div>
          <div class="mdl-card mdl-shadow--4dp mdl-grid mdl-cell mdl-cell--12-col">
              <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--4-col">
                  <h4 class="product-title mdl-card__title-text">Life Insurance</h4>
                  <div class="mdl-card__supporting-text">text describing life insurance, our offerings, and enticing customers to learn more.</div>
                  <button class="learn-more mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Learn More</button>
              </div>
              <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--4-col">
                  <h3 class="product-title mdl-card__title-text">Accidental Death Insurance</h3>
                  <div class="mdl-card__supporting-text">text describing accidental death insurance, our offerings, and enticing customers to learn more.</div>
                  <button class="learn-more mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Learn More</button>
              </div>
              <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--4-col">
                  <h3 class="product-title mdl-card__title-text">Medicare Supplement</h3>
                  <div class="mdl-card__supporting-text">text describing medicare supplements, our offerings, and enticing customers to learn more.</div>
                  <button class="learn-more mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Learn More</button>
              </div>
          </div>
          <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                  *This is a solicitation of insurance from United American Insurance Company, McKinney, Texas; Mutual of Omaha Insurance Company, Omaha, Nebraska; United of Omaha Life Insurance Company, Omaha, Nebraska. These companies are private insurance companies which are not connected with or endorsed by the United States government of the federal Medicare program. This is a solicitation of insurance for insurance coverage and you will be contacted by a state licensed insurance agent representing one or more of the above companies. Some plans not available in all states. These policies have some limitations and exclusions. Insurance plans and benefits may vary by state.
                  <br><br>
                  **Heartland is Not Insurance nor guaranteed under insurance contracts. Heartland memberships are available with or without the purchase of insurance coverage. Please note that this is not insurance and we do not make payments directly to medical services providers. It is a discount program, and you are obligated to pay for all health care services. You will receive discounts for medical services at certain health care providers who have contracted with the plan. The program and its administrators have no liability for providing or guaranteeing service or the quality of service rendered. Members will receive discounts on medical services when they go to certain health care providers who are contracted with the plan. Members are solely responsible for payment of all health care services. No portion of any providers fee will be reimbursed or otherwise paid by the plan. Heartland complies with all federal and state regulations. Service are provided by a registered discount medical provider organization (DMPO), where required. Memberships are not available in Montana or Vermont.
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
