<%= @message.name %>,

<p>Thank you for your interest in Farm & Ranch Insurance Services! One of our representatives will contact you shortly to answer any questions you might have. In the meantime, feel free to connect with us on social media using the links below!</p>
<br />
<br />
<div class="social-media-email">
  <a href="https://twitter.com/farmnranch"><img src="http://hidden-hamlet-38592.herokuapp.com/assets/twitter.png"></img></a>
  <a href="https://www.linkedin.com/company/farm-and-ranch-health-care"><img src="http://hidden-hamlet-38592.herokuapp.com/assets/linkedin.png"></img></a>
  <a href="https://www.facebook.com/Farm-and-Ranch-Insurance-Services-831930163604057/"><img src="http://hidden-hamlet-38592.herokuapp.com/assets/facebook.png"></img></a>
  <a href="https://www.youtube.com/channel/UCwh8qO04VnJBcaVTu3msH7g"><img src="http://hidden-hamlet-38592.herokuapp.com/assets/youtube.png"></img></a>
</div>
