.about-title {
    align-self: flex-start;
    margin: 10px;
}

.about-paragraph {
    width: 90%;
}

.about {
  background: image-url("Cowboys.jpg");
  background-size: cover;
  height: 300px;
  color: aliceblue;
}
