.about-title {
    align-self: flex-start;
    margin: 10px;
}

.about-paragraph {
    width: 90%;
}

.about {
  background-image: image-url("SkylerMicah.jpg");
  background-size: cover;
  height: 400px;
  color: aliceblue;
}
