// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    height: 100%;
    font-size: 100%;
}

body {
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

.pre-header {
  box-sizing: border-box;
  background-color: #4d1979;
  height: 100px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  position: static;
}

.page-title {
  text-align: center;
  font-size: 30px;
  color: white;
  margin-top: 30px;
}
.contact-info {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-icon {
  position: relative;
  margin-left: 30px;
}

.material-icons {
  font-size: 40px;
}

.contact-text {
  margin-left: 10px;
}

#wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.page-grid {
  background-color: #ccd0d1;
}

.mdl-layout__header  {
    background-color: #4d1979;
    height: 30px;
    width: 100%;
}

.mdl-layout__content {
  width: 100%;
  background-image: image-url("stockyardsblur.jpg");
}

.logo {
    display: block;
    width: 100px;
    height: 77px;
    background-image: image-url("images/FRHC_LOGO.png");
    margin-right: 20px;
}

#company-name {
    position: absolute;
    font-size: 40px;
    margin-left: 200px;
    margin-bottom: 20px;
    bottom: 0;
    float: right;
    color: floralwhite;
}

.mdl-layout__header-row  {
    bottom: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mdl-navigation  {
    margin-left: 20px;
}

.mdl-navigation__link  {
    font-size: 16px;
    font-weight: 700;
}

a.nav-link {
  color: ghostwhite;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

a.active {
    color: orangered !important;
}

 .container {
   position: relative;
}

.welcome-container {
   height: 40%;
   margin-right: 8px;
}

.building-img {
   height: 40%;
   margin-left: 8px;
}

.product-title {
   align-self: center;
   margin-top: 20px;
   font-size: 30px !important;
}

.learn-more {
   margin-left: 50px;
   margin-right: 50px;
}

.mdl-card__title-text {
   font-size: 50px;
}

img.display-photo {
   max-height: 100px;
   max-width: 100px;
   float: right;
   margin: 20px;
}

#profile-info {
   margin-bottom: 20px;
}

#firebase-auth-container {
   height: 500px;
}

#user-pic {
   position: relative;
   display: inline-block;
   height: 100px;
   width: 100px;
   background-size: 100px 100px;
}

#user-name {
   position: relative;
   display: inline-block;
   font-size: 30px;
   margin-left: 30px;
   line-height: 50px;
   vertical-align: middle;
}

#profile-info {
   align-items: center;
   vertical-align: middle;
   display: inline-flex;
   justify-content: center;
   width: 100%
}

#profile-buttons {
   justify-content: flex-end;
   height: 100px;
   width: 100%;
}

#sign-out {
   margin-right: 10px;
   background-color: whitesmoke;
}

#update-profile {
   margin-right: 10px;
   background-color: whitesmoke;
}

#profile-container {
   background-color: #4d1979;
   color: floralwhite;
   padding: 20px;
   height: 90%;
}

ul.rslides {
  max-height: 450px
}

.slide1 {
  background-image: image_url("customer-service3.jpg");
  height: 450px;
  margin: 0;
  padding: 10px;
}

.slide-title {
  height: 25%;
}

.title {
  color: ghostwhite;
  margin-top: 100px;
}

.slide-button {
  background: #ececec;
  width: 150px;
  margin: 15px;
}

div.affiliates {
  position: fixed;
  top: 100;
  left: 10;
  width: 40px;
  margin-left: 10px
}

.companies {
  margin-top: 30px;
}

.more-info {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10
}

#info-button {
  background: #4d1979;
  color: ghostwhite;
  width: 150px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 150px;
  margin-left: 50px;
}

.carriers {
  background-image: image-url("fairbault_main_street.jpg");
  background-size: cover;
  height: 300px;
  color: aliceblue;
}

$color-black: "0,0,0";
$select-background-color: transparent;
$select-border-color: unquote("rgba(#{$color-black}, 0.12)") !default;
$select-font-size: 16px;
$select-color: unquote("rgba(#{$color-black}, 0.50)") !default;

select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  font-size: $select-font-size;
  color: $select-color;
  border: none;
  border-bottom: 1px solid $select-border-color;
}

/* Remove focus */
select:focus {
  outline: none
}

.mdl-selectfield select {appearance: none}

.state {
  &:after {
       position: absolute;
       top: 0.75em;
       right: 0.5em;
       /* Styling the down arrow */
       width: 0;
       height: 0;
       padding: 0;
       content: '';
       border-left: .25em solid transparent;
       border-right: .25em solid transparent;
       border-top: .375em solid $select-border-color;
       pointer-events: none;
   }
}
