.products {
   background: image-url('flower_shop.jpg');
    background-size: cover;
    height: 300px;
    color: aliceblue;
    font-size: 50px
}

.button {
    width: 50%;
    align-self: center;
    margin-bottom: 16px;
}
