<%= form_for @category, html: {multipart: true} do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, :class => "mdl-textfield__input" %>
  </div>
  <div><%= f.submit %></div>
<% end %>
